.products-list{
    display: grid;
    gap: 1rem;
    justify-self: center;
    padding: 0 1.5rem;

}

@media (min-width: 360px) {
    .products-list { grid-template-columns: repeat(2, 1fr); }
}

@media (min-width: 768px) {
    .products-list { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 1024px) {
    .products-list { grid-template-columns: repeat(4, 1fr); }
}

@media (min-width: 1440px) {
    .products-list { grid-template-columns: repeat(5, 1fr); }
}