.sku-options{
    background-color: var(--color-secondary);
    padding: 0 1.5rem 1.5rem 1.5rem;

    h4{
        margin-top: 0;
        padding-top: 1.5rem;
    }

    .sku-options__list {
        display: flex;
        gap: 0.5rem;
        white-space: nowrap;
        overflow-x: auto;
        padding: 0.5rem;
        
        scrollbar-width: none; 
        -ms-overflow-style: none;
    }

    .sku-options__list::-webkit-scrollbar {
        display: none;
    }
}